<main>
    <h2>Find a restaurant</h2>
    <h3>Search nearby restaurants</h3>

    {{!-- Stacking the boxes --}}
    <div class="container">
        {{!-- Side by side boxes --}}
        <div class="container">

            {{!-- <input id="autocomplete" placeholder="Enter a place" type="text" /> --}}

            <form action="/restaurant" method="GET" class="form search">
                <div class="form-group">
                    <label for="search">Enter City or ZipCode:</label>
                    <input type="text" id="search" name="search">
                    <button type="submit">Search</button>
                    {{#if loginError}}
                    <p class="error-message">{{loginError}}</p>
                    {{/if}}
                </div>
            </form>
        </div>

        <div id="results" class="search-results">

            <h2>Restaurants</h2>
            {{!-- <ul>
                {{#each restaurants}}
                <li>
                    <strong>{{ name }}</strong> - {{ address }}
                </li>
                {{/each}}
            </ul> --}}

            {{!-- {{#each restaurants}}
            <div class="restaurant-card">
                <h4 class="card-body">{{restaurant.name}} - {{restaurant.address}}</h4>
                <div>
                    <button class="like-button" data-id="{{restaurant.id}}">Like</button>
                    <button class="save-button" data-id="{{restaurant.id}}">Save</button>
                </div>                
            </div>
            {{/each}} --}}
        </div>
        <div class="map-card container card">
                <h3>Map Below</h3>
                <div id="map"></div>        
        </div>
    </div>
</main>

